.trackingContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: var(--light-grey);
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    margin-bottom: 15px; /* Adds spacing between multiple TrackBars */
    height: calc(100% - 20px);
    position: relative;
}

.stepContainer {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 40px;
    position: relative; 
}

.trackingContainer h4 {
    padding-top: 5px;
    padding-bottom: 1px;
    border-bottom: 1px dotted var(--dark-grey);
    font-size: 16px;
}

.trackingContainer .reUpload button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: inherit;
    color: var(--dark);
    font-size: 1rem;
    cursor: pointer;
}

.trackingContainer .reUpload button:hover {
    color: var(--dark-grey);
}

.trackingContainer .reUpload .submitBtn {
    color: var(--success);
}

.trackingContainer .reUpload .submitBtn:hover {
    color: var(--light-success);
}

.trackingContainer .reUpload input[type=file] {
    display: none;
} 

.trackingContainer .reUpload p {
    color: var(--primary);
}

.trackingContainer .reUpload p span {
    color: var(--dark-grey);
}

.trackingContainer .carouselContainer .sliddingButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

.stepWrapper {
    position: relative;
    z-index: 1;
}

.styleStep {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--grey);
    border: 3px solid var(--light-primary);
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top:-20px;
}

.styleStep * {
    font-size: 19px;
    color: var(--dark); 
}

.styleStep.completed {
    border: 3px solid var(--primary);
}

.stepLabel {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: center;
    width: max-content;
}


/* building a line between them */
.stepContainer:before {
    content: "";
    width: 100%;
    position: absolute;
    background: var(--grey);
    height: 4px;
    width: 100%;
    top: 0;
    transform: translateY(-50%);
    left: 0;
}

/* darken progress bar with after */
.stepContainer:after {
    content: '';
    position: absolute;
    background: var(--dark);
    height: 4px;
    width: var(--prog-width, 0);
    top: 0;
    transition: 0.4s ease;
    transform: translateY(-50%);
    left: 0;
}

.trackingContainer .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-top: 1rem;
}

.trackingContainer .buttons .sliddingButton {
    font-size: 1.5rem;
}

.trackingContainer .buttons .sliddingButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

.trackingContainer .buttons .indicators {
    display: flex;
}

.trackingContainer .buttons .indicators .indicator {
    background-color: var(--primary);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--transparent-dark);
    margin: 0 0.2rem;
    opacity: 0.2;
}

.trackingContainer .buttons .indicators .indicator.active {
    opacity: 1;
}