/* this part is for the USER TAB */
.adminContent .tabHeader {
    display: flex;
    background-color: var(--dark-grey);
    color: var(--light);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.adminContent .tabHeader h3 {
    margin-right: auto;
    margin-left: 10px;
}

.adminContent .tabHeader .left {
    display: flex;
    align-items: center;
    height: 36px;
    gap: 15px;
    margin-right: 10px;
}

.adminContent .tabHeader .left form{
    max-width: 400px;
}

.adminContent .tabHeader .left .formInput {
    display: flex;
    align-items: center;
    height: 36px;
}

.adminContent .tabHeader .left .formInput input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.adminContent .tabHeader .left .formInput button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.adminContent .tabHeader button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background: var(--light-grey);
    color: var(--dark);
    padding: 3px;
    cursor: pointer;
}

.adminContent .tabHeader button:hover {
    background: var(--grey);
}

.adminContent .tabHeader .addUserBtn svg {
    height: 24px;
    width: 24px;
}

.adminContent .tabHeader .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.adminContent .tabHeader .pagination button svg {
    height: 24px;
    width: 24px;
}

.userFormContainer {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    min-height: 60vh;
    color: var(--dark);
    padding: 20px;
    margin: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 4;
}

.userFormContainer.show {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--grey);
    z-index: 2;
    border-radius: 5px;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%);
    border: 1px solid var(--dark);
}

.adminContent .userFormContainer h4,
.adminContent .fellowFormContainer h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--dark);
  }

.adminContent .userForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.adminContent .inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;
}

.adminContent .inputContainer label {
    width: 120px;
    font-weight: 500;
    font-size: 0.95rem;
    color: var(--dark);
}

.adminContent .inputContainer input,
.adminContent .userForm select {
    flex: 1;
    padding: 0.4rem 0.75rem;
    font-size: 0.95rem;
    border: 1px solid var(--transparent-light);
    border-radius: 8px;
    background-color: var(--light);
    color: var(--dark);
}

.adminContent .inputContainer textarea {
    flex: 1;
    padding: 0.6rem 0.75rem;
    font-size: 0.95rem;
    border: 1px solid var(--transparent-light);
    border-radius: 8px;
    resize: vertical; 
    min-height: 100px;
    background-color: var(--light);
    color: var(--dark);
}

.adminContent .inputContainer input {
    min-width: 100px;
    width: auto;
}

.adminContent .inputContainer input:focus,
.adminContent .inputContainer textarea:focus,
.fellowProfileContainer input:focus,
.fellowProfileContainer textarea:focus {
    outline: none;
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 5px 4px rgba(234, 61, 64, 0.2);
}

.adminContent .inputContainer input[type="file"] {
    border: 1px solid var(--transparent-light);
    border-radius: 8px;
    padding: 0 0.5rem;
    font-size: 1rem;
    background-color: var(--light);
    cursor: pointer;
  }
  
.adminContent .inputContainer input[type="file"]::file-selector-button {
    background-color: var(--primary);
    color: var(--black);
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.adminContent .inputContainer input[type="file"]::file-selector-button:hover {
    background-color: var(--primary);
    color: var(--light);
  }

.adminContent button[type="submit"] {
    background-color: var(--primary);
    color: var(--light);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.adminContent button[type="submit"]:hover {
    background-color: var(--light-primary);
}

.adminContent .closeBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 24px;
    width: 24px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark-grey);
    cursor: pointer;
    transition: color 0.3s ease;
}

.adminContent .closeBtn:hover {
    color: var(--dark);
}

.adminContent .userList {
    background-color: var(--transparent-dark);
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--dark-grey);
    display: grid;
    grid-auto-rows: auto;
    row-gap: 10px;
    max-height: 80vh;
    overflow-y: auto;
    color: var(--dark);
}

.adminContent .userListHeader,
.adminContent .userList .user {
    display: grid;
    grid-template-columns: 5fr 4fr 1fr;
    border-radius: 5px;
    color: var(--dark);
    gap: 5px;
    transition: all 0.5s ease;
    max-height: 200px;
    overflow-y: scroll;
}

.adminContent .userList .user {
    border-bottom: 1px solid var(--dark);
    padding: 5px 0px;
}

.adminContent .userListHeader,
.adminContent .fellowListHeader {
    background-color: inherit;
    margin: 2px 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    color: var(--orange);
}

.adminContent .user
.adminContent .fellow {
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: var(--light);
    border: 1px solid var(--light);
    border-radius: 8px;
    transition: background-color 0.3s;
}

.adminContent .user .editBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--orange);
    font-size: 1.2rem;
    transition: color 0.3s;
}

.adminContent .user .editBtn:hover {
    color: var(--primary);
}

.adminContent .userList .userFormContainer {
    top: 30%;
}

/* this part is for the FellowTab */
.fellowBigContainer {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap-reverse;
}

.fellowBigContainer .adminContent {
    flex-grow: 2;
}

.fellowFormContainer {
    position: fixed;
    top: calc(56px + 10px);
    left: 50%;
    transform: translateX(-40%); 
    background-color: var(--grey);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 15px var(--transparent-dark);
    border: 1px solid var(--dark);
    z-index: 10;
    width: calc(90% - 230px);
    max-width: calc(100% - 230px);
    display: none;
}
  
.fellowFormContainer.show {
    display: block;
}
  
.fellowForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adminContent .fellowListHeader,
.adminContent .fellowList .fellow {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    border-radius: 0;
    color: var(--dark);
    gap: 5px;
    transition: all 0.5s ease;
    max-height: 200px;
    overflow-y: scroll;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid var(--dark-grey);
}

.adminContent .fellowList .fellow {
    padding: 5px;
    transition: all 0.3s ease;
}

.adminContent .fellowList:first-child {
    border-top: 1px solid var(--dark-grey);
}

.adminContent .fellowList .fellow:hover {
    border: 1px solid var(--dark-grey);
    box-shadow: 0 4px 8px var(--transparent-dark);
    transform: scale(102%); 
    cursor: pointer;
}

.adminContent .fellowList .fellow .profile {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    align-self: flex-end;
}


/* this part is for the FellowProfile */

.fellowProfileContainer {
    display: flex;
    flex-direction: column;
    color: var(--dark);
    flex: 1;
    min-width: 350px;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    gap: 5px;
    padding: 20px 5px;
    border-radius: 5px;
    border: 1px solid var(--dark-grey);
    background-color: inherit;
}

.profileImg {
    display: flex;
    justify-content: center;
    position: relative;
}

.profileImg .editButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: inherit;
    color: var(--dark);
    border: none;
}

.profileImg .editButton svg {
    width: 16px;
    height: 16px;
}

.profileImg .editButton:hover {
    color: var(--primary);
}

.profileImg img{
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.fellowProfileContainer h2 {
    text-align: center;
}

.fellowProfileContainer .title {
    color: var(--primary);
    font-weight: 500;
}

.fellowProfileContainer p a {
    margin-left: 5px;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.fellowProfileContainer input,
.fellowProfileContainer textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    background-color: var(--light);
    color: var(--dark);
}

.saveButton {
    margin-top: 10px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: var(--primary);
    color: var(--light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveButton:hover {
    opacity: 0.8;
}

.fellowProfileContainer .bioClip {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.fellowProfileContainer .textExpand {
    white-space: normal;

}

.fellowProfileContainer .bioButton {
    border: none;
    color: inherit;
    background-color: inherit;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.fellowProfileContainer .bioButton svg {
    width: 1.2em;
    height: 1.2em;
}

@media (max-width: 768px) {
    /* User Tab */

    .adminContent .tabHeader h3 {
        font-size: 1.25rem;
        margin-left: 0;
    }

    .adminContent .userFormContainer {
        top: 20%;
        width: calc(100vw - 62px);
        left: 50%;
        transform: translateX(-50%);
        overflow-y: auto;
        max-height: 90vh;
    }

    .adminContent .inputContainer input,
    .adminContent .userForm select,
    .adminContent .inputContainer textarea {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }

    .adminContent .userFormContainer h4 {
        font-size: 1.2rem;
    }

    .adminContent .closeBtn {
        font-size: 1.5rem;
        right: 10px;
    }

    .adminContent .userList {
        padding: 0;
        margin-top: 10px;
        max-height: 60vh;
    }

    .adminContent .userListHeader {
        font-size: 1rem;
    }

    /* Fellow Tab */
    .fellowFormContainer {
        top: 10%;
        min-width: 300px;
        width: calc(100vw - 60px);
        padding: 5px;
        overflow-y: auto;
        max-height: 90vh;
        overflow-x: auto;
    }

    .fellowFormContainer.show {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .fellowForm {
        gap: 15px;
    }
}