* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bigContainer{
    --light: #f6f6f9;
    --grey: #eee;
    --dark-grey: #939292;
    --dark: #363949;
    --danger: #6F42C1;
    --light-danger: #BFA2E6;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
    --blue: #1976D2;
    --light-blue: #CFE8FF;
    --orange: #FD7E14;
    --light-orange: #fddfc3e9;
    --transparent-light: #ffffff82;
    --transparent-dark: #00000013;
    --pink: #f9d6e7;
    --peach: #FFE4CF;
    --lime: #FFFDD7;
    background: var(--grey);
    overflow-x: hidden;
    min-height: 100vh;
}

.bigContainer {
    display: grid;
    grid-template-rows: auto auto 1fr; /* Navbar, Title, Content */
    grid-template-columns: 1fr; /* Single-column layout for responsiveness */
    grid-template-areas:
        "navbar"
        "title"
        "content";
    min-height: 100vh;
    background-color: #f4f4f4;
}


.articleInformation {
    border-top: #1d1d1d;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 3em 0.5em;
}

.categoryTag {
    padding: 0.5em 1em;
}

.title {
    grid-area: title;
    padding: 0.5em 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

.contributors {
    grid-area: title;
    padding: 0.5em 1em;
    font-size: 1em;
    text-align: left;
    /* text-decoration: underline; */
}

.pdfWrapper {
    background-color: #303030;
    /* padding: 1em; */
    text-align: center;
    min-height: 400px;
    max-width: 800px;
    margin: 0 auto;
}

.pdfNavBar {
    background-color: #1d1d1d;
    padding: 1em 1em;
    display: grid;
    grid-template-columns: 0.4fr 1.2fr 0.4fr;
    grid-area: "left" "center" "right";
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.pdfNavBar > * > button {
    border-radius: 5px;
    padding: 0.2em;
}

.pdfNavBar > * > button:hover {
    background-color: #ffffff3a;
    transition: ease-out 0.3s;
}

.leftControl > * {
    background-color: #1d1d1d;
    border: none;
    margin: 0 0.5em;
    grid-area: "left";
}

.centerControl > * {
    background-color: #1d1d1d;
    border: none;
    margin: 0 0.5em;
    grid-area: "center";
}

.rightControl > * {
    background-color: #1d1d1d;
    border: none;
    margin: 0 0.5em;
    grid-area: "right";
}

.pdfWrapper > img {
    padding: 5em;
    height: 60em;
    width: 40em;
}

.abstractContainer {
    padding: 0.5em 1em;
}

.abstractContainer > article {
    padding: 0.5em 1em;
    font-size: 1em;
    text-align: left;
}

.abstractToggle {
    background-color: var(--light);
    border: none;
}

.abstractToggle > :nth-child(2) {
    display: none;
}


/* Responsive Design */
@media (max-width: 768px) {
    .contentWrapper {
        grid-template-columns: 1fr; /* Stack abstract & PDF on small screens */
    }

    .abstractContainer > button {
        background-color: var(--light);
        border: none;
        cursor: pointer;
    }

    .abstractContainer > article {
        background-color: var(--transparent-light);
        border-radius: 10px;
        border: solid 5px var(--transparent-dark);
    }

    .abstractToggle {
        background: none;
        border: none;
        margin: 10px;
        display: flex;
        flex-direction: flex-end;
        transition: transform 0.3s ease;
    }


    .abstract {
        width: 60px;
        overflow-x: hidden;
        transition: width 0.3s ease;
    }

    .abstract.show {
        height: 240px;
        transition: width 0.3s ease;
    }
}
