.docTabContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: var(--light);
    padding: 10px;
    align-items: center;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--transparent-dark);
    color: var(--dark);
}


.header .left {
    display: flex;
    align-items: center;
    height: 36px;
    gap: 15px;
}

.header .left form{
    max-width: 400px;
}

.header .left .formInput {
    display: flex;
    align-items: center;
    height: 36px;
}

.header .left .formInput input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.header .left .formInput button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.header button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background: var(--grey);
    color: var(--dark);
    padding: 3px;
}

.header button:hover {
    background: var(--light-grey);
}

.contentList {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 15px;
    max-height: 45vh;
    overflow-y: auto;
}

.listItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--transparent-dark);
    border-radius: 3px;
    border-bottom: var(--transparent-light);
    align-items: center;
}

.filesContainer .listItem a {
    color: var(--dark-grey);
    position: relative;
    transition: color 0.3s ease;
    font-weight: 550;
}

.filesContainer .listItem a:before {
    content: "";
    position: absolute;
    background-color: #24375457;
    width: 100%;
    height: 2px;
    bottom: -3px;
}

.filesContainer .listItem a:after {
    content: "";
    position: absolute;
    background-color: #233754;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.filesContainer .listItem a:hover {
    color: #3b5360;
}

.filesContainer .listItem a:hover:after {
    transform: scaleX(1);
}

.listItem button {
    color: var(--primary);
    background-color: var(--light-primary);
    border-radius: 3px;
    border: 1px solid var(--primary);
    padding: 10px;
    border-radius: 20px;
    transition: all 0.7s ease;
    cursor: pointer;
}

.listItem button:hover {
    color: var(--light);
    background-color: var(--primary);
}

.contentList .listItem:nth-child(3n+1) {
    background-color: #f9d6e7;
}

.contentList .listItem:nth-child(3n+2) {
    background-color: #FFE4CF;
}
  
.contentList .listItem:nth-child(3n) {
    background-color: #FFFDD7;
}

.contentList .listItem:last-child {
    border-radius: 0 0 10px 10px;
}

.statusContainer {
    background-color: var(--light);
    height: 30vh;
}

.statusContainer .statusAction {
    display: flex;
    flex-direction: column
}

.participateContainer {
    background-color: var(--light);
    height: 30vh;
}