.docTabContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: var(--light);
    padding: 10px;
    align-items: center;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--transparent-dark);
    color: var(--dark);
    position: relative;
    height: 10vh;
}

.header .left {
    display: flex;
    align-items: center;
    height: 36px;
    gap: 15px;
}

.header .left form{
    max-width: 400px;
}

.header .left .formInput {
    display: flex;
    align-items: center;
    height: 36px;
}

.header .left .formInput input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.header .left .formInput button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.header button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background: var(--grey);
    color: var(--dark);
    padding: 3px;
}

.header button:hover {
    background: var(--light-grey);
}

.contentList {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 20px;
    max-height: 45vh;
    overflow-y: auto;
    padding: 5px 0;
}

.listItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--transparent-dark);
    border-radius: 3px;
    border-bottom: var(--transparent-light);
    align-items: center;
}

/* this part is for styling for the submission files */

.filesContainer .listItem {
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: relative;
    color: var(--dark);
}

.contentList .listItem:nth-child(3n+1) {
    background-color: var(--pink);
}

.contentList .listItem:nth-child(3n+2) {
    background-color: var(--peach);
}
  
.contentList .listItem:nth-child(3n) {
    background-color: var(--lime);
}

.contentList .listItem:last-child {
    border-radius: 0 0 10px 10px;
}

.filesContainer .listItem.active {
    padding-left: 12%;
    opacity: 1;
    transform: translateX(10px);
    transition: transform 0.3s ease, padding-left 0.3s ease, clip-path 0.3s ease;
    overflow: hidden;
    position: relative;
}

.filesContainer .listItem.active::before {
    content: "";
    position: absolute;
    width: calc(12% - 15px);
    height: 100%;
    left: 0;
    background-color: var(--transparent-light);
    clip-path: polygon(65% 0, 100% 50%, 65% 100%, 0 100%, 0 0);
    transition: clip-path 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 4px;
}

.filesContainer .listItem.active:hover::before {
    background-color: var(--transparent-light);
    clip-path: polygon(60% 0, 100% 50%, 60% 100%, 0 100%, 0 0);
    transition: clip-path 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.contentList:hover .listItem:not(.active),
.contentList:hover .listItem:not(:hover) {
    opacity: 0.7;
}

.filesContainer .contentList .listItem:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px var(--transparent-dark);
    border: 2px solid var(--transparent-light);
    opacity: 1;
}

.filesContainer .listItem:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 3px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    box-shadow: 0 0 10px 40px var(--light);
}

.filesContainer .listItem:active:after {
    box-shadow: 0 0 0 0 var(--light);
    opacity: 1;
    transition: 0s;
}

.filesContainer .listItem button {
    color: var(--primary);
    background-color: var(--light-primary);
    border-radius: 3px;
    border: 1px solid var(--primary);
    padding: 10px;
    border-radius: 20px;
    transition: color 0.7s ease, outline-offset 0.3s ease, border-color 0.7s ease;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.filesContainer .listItem button:hover {
    color: var(--light);
    background-color: var(--primary);
}

.filesContainer .listItem button:focus {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
}

.filesContainer .listItem a {
    color: var(--dark-grey);
    position: relative;
    transition: color 0.3s ease;
    font-weight: 550;
    z-index: 2;
}

.filesContainer .listItem a:before {
    content: "";
    position: absolute;
    background-color: #24375457;
    width: 100%;
    height: 2px;
    bottom: -3px;
}

.filesContainer .listItem a:after {
    content: "";
    position: absolute;
    background-color: #233754;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.filesContainer .listItem a:hover {
    color: #3b5360;
}

.filesContainer .listItem a:hover:after {
    transform: scaleX(1);
}

.filesContainer .contentList span {
    color: var(--dark)
}

/* this part is for styling for the submission comments */

.commentContainer {
    position: relative;
}

.commentContainer button {
    padding: 7px;
    cursor: pointer;
}

.commentContainer button span {
    position: relative;
}

.commentContainer button span::after {
    content: "";
    width: 95%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: var(--light);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.commentContainer button:hover span::after {
    left: 50%;
    transform: scaleX(1) translate(-50%, -50%);
}

.commentContainer button:hover {
    background-color: var(--light-primary);
    color: var(--light);
}

.commentContainer .commentForm {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center it horizontally */
    width: 80%;
    max-width: 100%;
    height: 40vh;
    background-color: var(--light);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 4;
}

.commentContainer .commentForm h4 {
    font-size: 18px;
    margin-bottom: 12px;
    color: var(--dark);
}

.commentForm textarea {
    width: 100%;
    height: 20vh;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid var(--transparent-dark);
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: var(--dark);
    font-weight: 500;
    box-sizing: border-box;
    background: var(--light);
}

.commentForm textarea:focus {
    outline: none;
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 5px 4px rgba(234, 61, 64, 0.2);
}

.commentForm button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.commentContainer .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: var(--primary);
    cursor: pointer;
}

.commentContainer .closeBtn * {
    width: 24px;
    height: 24px;
    font-size: 1rem;
    color: var(--light);
}


.commentContainer .commentForm.show {
    display: block;
    opacity: 1;
}

.commentContainer .contentList {
    padding: 10px 0;
    max-height: 60vh;
}

.commentContainer .contentList .listItem {
    background-color: var(--light);
    color: var(--dark);
    border-radius: 10px;
    box-shadow: var(--grey) 0px 2px 5px 0px, var(--dark) 0px 1px 1px 0px;
}

.commentContainer .contentList .listItem {
    display: flex;
    row-gap: 5px;
    position: relative;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.commentContainer .contentList .listItem span {
    align-items: center;
    font-weight: 550;
    padding: 10px;
    position: relative;
    z-index: 2;
    flex-basis: 1;
    margin-left: auto;
}

.commentContainer .contentList .listItem span:after {
    content: "";
    width: 120%;
    height: 100%;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    border-radius: 5px 5px 5px 0;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}

.contentList .listItem:nth-child(3n+1) span:after {
    background-color: var(--pink)
}

.contentList .listItem:nth-child(3n+2) span:after {
    background-color: var(--peach)
}

.contentList .listItem:nth-child(3n+3) span:after {
    background-color: var((--lime))
}


/* this part is for styling submission status */

.statusContainer {
    border-radius: 10px;
    background-color: var(--light);
    height: 35vh;
}

.noStatus {
    color: var(--dark)
}

.statusContainer .statusAction {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 5px;
    padding: 10px;
    max-height: 60%;
    overflow-y: auto;
}

.statusContainer .statusAction button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.statusContainer .statusAction button:hover {
    background-color: var(--light-primary);
}

.statusContainer .statusAction button:last-child {
    margin-top: 10px;
    background-color: var(--danger);
}

.statusContainer .statusAction button:last-child:hover {
    background-color: var(--light-danger);
}

/* this part is for styling submission participant */

.participateContainer {
    background-color: var(--light);
    height: 35vh;
    border-radius: 10px;
}

.participateContainer .header {
    border-radius: 10px 10px 3px 3px;
}

.participateContainer .header button {
    padding: 7px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background: var(--grey);
    color: var(--dark);
}

.participateContainer .header button:hover {
    background-color: var(--light-primary);
    color: var(--light);
}

.participateContainer .participateList {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 5px;
    padding: 10px;
    max-height: 60%;
    overflow-y: auto;
}

.participateContainer .participateList li {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    text-align: center;
    align-items: center;
    padding: 5px;
    color: var(--dark);
    box-shadow: 0 2px 4px var(--transparent-dark);

}

.participateContainer .participateList li button {
    padding: 7px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background: var(--grey);
    color: var(--dark);
}

.participateContainer .participateList li button svg {
    font-size: 1rem;
}

.participateContainer .participateList li button:hover {
    background-color: var(--light-success);
    color: var(--success);
}

