.mainContent {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.mainContent main {
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.mainContent .header h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--dark);
}

.mainContent.close {
    width: calc(100% - 60px);
    left: 60px;
    height: fit-content;
}

.mainContent .listHeader, .mainContent .submissionContaniner .submission {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    border-radius: 5px;
    color: var(--light);
    gap: 5px;
}

.mainContent .listHeader li {
    font-weight: 550;
    background-color: var(--primary);
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 1.17rem;
}

.mainContent .submissionContaniner {
    border-radius: 5px;
    margin: 10px 0;
    display: grid;
    row-gap: 16px;
}

.submissionContaniner .submission * {
    font-weight: 400;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    color: var(--dark);
    background-color: var(--transparent-light);
}