.bigContainer {
    margin: 25px 0;
    padding: 0 4rem 25px 4rem;
    height: 80vh;
    background-color: var(--light-primary);
    border: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bigContainer h2 {
    display: block;
    margin: 0;
    font-weight: 600;
    font-size: clamp(1.5rem, 4vw, 5.5rem); 
    line-height: 1.2;
    letter-spacing: 1px;
    padding-top: 0;
    padding-bottom: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
