.navBar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: black;
    align-items: center;
    /* -webkit-box-shadow: 4px 10px 5px 0 var(--primary);
    -moz-box-shadow: 4px 10px 5px 0px var(--primary);*/
    box-shadow: 1px 1px 1px 1px rgb(168, 168, 168);  
    width: auto;
    height: 70px;
    padding: 0 15px;
}

.navLeft {
  display: flex;
  align-items: center;
}
.navLeft span{
  color:#f6f6f9;
  align-content: flex-start;
  text-transform: uppercase;
  flex:1 1 auto;
  min-width: 200px;
    white-space: normal;
    overflow:visible;
}

.navLeft img{
    height: 50px;
    width:67px;
    aspect-ratio: 16/9;
    border-radius: 5px;
    margin-left: 0.5em;
    /* height: 90px; 
    aspect-ratio: 32/9;
    border-radius: 5px; */
}

.hidden {
  visibility: hidden;
}

.navButtons{
  display:flex;
  margin:0px;

}
.navButtons a {
  color: #fefefe;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  margin: 0 px;
  cursor: pointer;
}

.navButtons a:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 5px;
}

.navButtons a span {
  position: relative;
  z-index: 3;
}

.navButtons button {
  background-color: none;
  text-decoration: none;
  background-color: #000000;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 0.9rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* hamburger icon */
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* DROPDOWN MENU (hidden by default) */
.dropdownMenu {
  display: none;
  position: absolute;
  top: 70px; /* adjust if needed */
  right: 20px;
  background-color: black;
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
  flex-direction: column;
  z-index: 999;
  width: 200px;
  border-radius: 8px;
}

.dropdownMenu button {
  background: none;
  border: none;
  margin: 0.4rem 0;
  text-align: left;
}

.dropdownMenu button:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 5px;
}

.dropdownMenu a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
}

.dropdownMenu.show {
  display: flex;
}

/* MOBILE RESPONSIVE BEHAVIOR */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navButtons {
    display: none;
  }
}

