.taskContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.taskContent .left {
    display: grid;
    min-width: 45vw;
    max-width: 60vw;
    grid-template-rows: 1fr 2fr;
}

.taskContent .left .dateIntro {
    display: flex;
    gap: 20px;
    max-height: 30vh;
}

.taskContent .left .dateIntro .date .calendar {
    display: flex;
    width: calc(45vw*0.45);
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: var(--light);
    height: 100%;
    backdrop-filter: blur(15px);
    padding: 0;
    -webkit-box-shadow: 0px -1px 33px -3px var(--transparent-dark);
    -moz-box-shadow: 0px -1px 33px -3px var(--transparent-dark);
    box-shadow: 0px -1px 33px -3px var(--transparent-dark);
}

.taskContent .left .date .month {
    color: var(--light);
    background-color: var(--primary);
    width: 100%;
    /* font-size: 1.6em; */
    font-size: clamp(1.2em, 3vw, 1.6em);
    text-align: center;
    font-weight: 400;
    padding: 5px 0;
    border-radius: 10px 10px 0 0 ;
} 

.taskContent .left .date .dateName {
    color: var(--dark);
    /* font-size: 1.2em; */
    font-size: clamp(1em, 1.5vw, 1.2em);
    font-weight: 400;
    margin-top: 10px;
}

.taskContent .left .date .dateNumber {
    color: var(--dark);
    /* font-size: 5em; */
    font-size: clamp(3em, 6vw, 5em);
    font-weight: 600;
}

.taskContent .left .date .year {
    color: var(--dark);
    /* font-size: 1.2 em; */
    font-size: clamp(1em, 1.5vw, 1.2em);
    font-weight: 400;
    margin-bottom: 10px;
}

.taskContent .left .dateIntro .greeting {
    width: calc(100% - 45vw * 0.45 - 20px);
    background-color: var(--light);
    -webkit-box-shadow: 0px -1px 33px -3px var(--transparent-dark);
    -moz-box-shadow: 0px -1px 33px -3px var(--transparent-dark);
    box-shadow: 0px -1px 33px -3px var(--transparent-dark);
}

.taskContent .left .dateIntro .calendar * {
    display: block;
}

.taskListEd{
    width: 100%;
    overflow-y: auto;
    background-color: var(--light);
    border-radius: 15px;
    margin: 30px 0;
    box-shadow: var(--transparent-dark) 0px 30px 50px -30px, rgba(0, 0, 0, 0.152) 0px 20px 30px -40px;
}

.taskListEd .taskList {
    padding-bottom: 35px;
    display: grid;
    row-gap: 20px;
}

.taskListEd .taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 45px;
    color: var(--dark);
    padding: 10px;
    box-shadow: var(--dark-grey) 0px 20px 10px -10px;
    border-bottom: 2px solid var(--dark-grey);
}

.taskListEd h2 {
    display: block;
    font-size: 30px;
}

/* button styling copied from https://getcssscan.com/css-buttons-examples */


.taskIncomplete {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 0 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    backdrop-filter: blur(1.1);
    position: relative;
}

.taskIncomplete:before {
    content: "";
    position: absolute; 
    width: 10px;
    height: 100%;
    left: 0;
    border-radius: 10px 0 0 10px;
    background-color: #d0012a74;
}

.taskIncomplete .taskTitle {
    display: grid;
    grid-template-columns: 1fr 3fr 16fr;
    padding: 15px 10px;
    border-radius: 5px;
    border-bottom: 1px dashed var(--dark);
    align-items: center;
    color: var(--dark);
}

.taskIncomplete .taskTitle svg {
    transition: transform 1s ease;
    margin-right: 3px;
}

.taskTitle .taskDescription {
    color: var(--dark);
    padding-left: 10%;
}

.taskIncomplete .taskTitle svg{
  width: 25px;
  height: 25px;
  color: var(--primary);
}

.taskIncomplete .taskButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.taskIncomplete .taskButtons * {
    cursor: pointer;
    padding: 3px 10px;
    border: 0;
    background: none;
    background-blend-mode: overlay;
    transition: all 0.3s ease-in-out;
    position: relative;
    color: var(--dark-grey);
}


.taskButtons *:hover {
    color: var(--danger);
    transition: color 0.3s ease;
}

.taskButtons button:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--dark-grey);
    position: absolute;
    right: 0;
    top: 0;
}

