.taskContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 20px;
}

.taskContent .right {
    /* max-width: calc(100% - 65vw); */
    min-width: 250px;
    flex: 1;
}

.taskContent .right .header h3 {
    color: var(--primary);
    font-weight: 1000;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.taskContent .right .header span {
    display: block;
    color: var(--dark-grey);
    margin: 15px 0;
}

.taskContent .right .editorList {
    display: grid;
    row-gap: 10px;
    max-height: 60vh;
    overflow-y: scroll;
}

.taskContent .right .editorList .editorItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--dark);
    padding: 5px;
    border: 1px solid var(--transparent-dark);
    border-radius: 20px;
}

.taskContent .right .editorList .editorItem .icon {
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 36px;
}

.taskContent .right .editorList .editorItem .name {
    margin-left: 20px;
}

.taskContent .left {
    display: grid;
    min-width: 60vw;
    /* max-width: 60vw; */
    grid-template-rows: 1fr 2fr;
    flex: 2;
}

.taskContent .left .dateIntro {
    display: flex;
    gap: 20px;
    max-height: 30vh;
}

.taskContent .left .dateIntro .date .calendar {
    display: flex;
    min-width: 180px;
    width: calc(60vw*0.45);
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: var(--light);
    height: 100%;
    backdrop-filter: blur(15px);
    padding: 0;
    -webkit-box-shadow: 0px -1px 33px -3px var(--transparent-dark);
    -moz-box-shadow: 0px -1px 33px -3px var(--transparent-dark);
    box-shadow: 0px -1px 33px -3px var(--transparent-dark);
}

.taskContent .left .date .month {
    color: var(--light);
    background-color: var(--primary);
    width: 100%;
    /* font-size: 1.6em; */
    font-size: clamp(1.2em, 3vw, 1.6em);
    text-align: center;
    font-weight: 400;
    padding: 5px 0;
    border-radius: 10px 10px 0 0 ;
} 

.taskContent .left .date .dateName {
    color: var(--dark);
    /* font-size: 1.2em; */
    font-size: clamp(1em, 1.5vw, 1.2em);
    font-weight: 400;
    margin-top: 10px;
}

.taskContent .left .date .dateNumber {
    color: var(--dark);
    /* font-size: 5em; */
    font-size: clamp(3em, 6vw, 5em);
    font-weight: 600;
}

.taskContent .left .date .year {
    color: var(--dark);
    /* font-size: 1.2 em; */
    font-size: clamp(1em, 1.5vw, 1.2em);
    font-weight: 400;
    margin-bottom: 10px;
}

.taskContent .left .dateIntro .greeting {
    border-radius: 10px;
    width: calc(100% - 60vw * 0.45 - 20px);
    /* min-width: 150px; */
    background-color: var(--light);
    -webkit-box-shadow: 0px -1px 33px -3px var(--transparent-dark);
    -moz-box-shadow: 0px -1px 33px -3px var(--transparent-dark);
    box-shadow: 0px -1px 33px -3px var(--transparent-dark);
    position: relative;
    overflow: hidden; 
}

.taskContent .left .dateIntro .greeting::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--primary);
    right: 0;
    bottom: -40px;
    clip-path: ellipse(70% 50% at 80% 90%);
    z-index: 1;
}

/* the heart is from https://codepen.io/yochans/pen/gOmZbpd */
.taskContent .left .dateIntro .greeting::before {
    content: "";
    position: absolute;
    width: 24px;
	height: 24px;
    background-color: var(--primary);
    right: 0;
    top: 30%;
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
    transform: scale(5) translateX(-100%) rotate(-30deg);
    animation: float 1.5s ease-in-out infinite;
    z-index: 1;
}

@keyframes float {
    0%, 100% {
        transform: scale(5) translateX(-100%) rotate(-30deg) translateY(0);
    }
    50% {
        transform: scale(5) translateX(-100%) rotate(-30deg) translateY(-2px);
    }
}


/* Individual eye */
.eyes {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
}

.eyes .eye {
    position: absolute;
    width: 15%;
    aspect-ratio: 1 / 1;
    background-color: var(--dark-grey);
    clip-path: polygon(0 30%, 0 35%, 45% 50%, 0 60%, 0 65%, 50% 65%, 100% 55%, 100% 60%, 50% 55%, 100% 35%, 100% 30%, 50% 45%);
    animation: blink 3s infinite ease-in-out;
}

/* Left eye position */
.eyes .eye:first-child {
    bottom: 10px;
    left: 30%;
    z-index: 2;
    transform: rotate(-30deg);
}

/* Right eye position */
.eyes .eye:last-child {
    bottom: 30px;
    right: 10%;
    z-index: 2;
    transform: rotate(5deg);
}


@keyframes blink {
    0%, 100% {
        clip-path: polygon(0 30%, 0 40%, 45% 50%, 0 60%, 0 70%, 50% 60%, 100% 70%, 100% 60%, 55% 51%, 100% 40%, 100% 30%, 50% 40%);
    }
    50% {
        clip-path: polygon(0 48%, 0 52%, 50% 54%, 100% 52%, 100% 48%, 50% 46%);
    }
}

.taskContent .left .greeting .hello {
    min-width: 200px;
    max-width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--dark);
    position: relative;
    z-index: 3;
}

.taskContent .left .greeting .hello h3 {
    margin: 10px 0;
}

.taskContent .left .greeting .hello p {
    margin: 5px 0;
}

.taskContent .left .greeting .hello span {
    margin: 0;
    margin-top: 20px;
}

.taskContent .left .dateIntro .calendar * {
    display: block;
}

.taskListEd{
    width: 100%;
    overflow-y: auto;
    background-color: var(--light);
    border-radius: 15px;
    margin: 30px 0;
    box-shadow: var(--transparent-dark) 0px 30px 50px -30px, rgba(0, 0, 0, 0.152) 0px 20px 30px -40px;
}

.taskListEd .taskList {
    padding-bottom: 35px;
    display: grid;
    row-gap: 20px;
}

.taskListEd .taskList span {
   padding-left: 20px;
}

.taskListEd .taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 45px;
    color: var(--dark);
    padding: 10px;
    box-shadow: var(--dark-grey) 0px 10px 10px -10px;
    border-bottom: 2px solid var(--dark-grey);
}

.taskListEd h2 {
    display: block;
    font-size: 30px;
}

/* button styling copied from https://getcssscan.com/css-buttons-examples */


.taskIncomplete {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 0 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    backdrop-filter: blur(1.1);
    position: relative;
}

.taskIncomplete:before {
    content: "";
    position: absolute; 
    width: 10px;
    height: 100%;
    left: 0;
    border-radius: 10px 0 0 10px;
    background-color: #d0012a74;
}

.taskIncomplete .taskTitle {
    display: grid;
    grid-template-columns: 1fr 3fr 16fr;
    padding: 15px 10px;
    border-radius: 5px;
    border-bottom: 1px dashed var(--dark);
    align-items: center;
    color: var(--dark);
}

.taskIncomplete .taskTitle svg {
    transition: transform 1s ease;
    margin-right: 3px;
}

.taskTitle .taskDescription {
    color: var(--dark);
    padding-left: 10%;
}

.taskIncomplete .taskTitle svg{
  width: 25px;
  height: 25px;
  color: var(--primary);
}

.taskIncomplete .taskButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.taskIncomplete .taskButtons * {
    cursor: pointer;
    padding: 3px 10px;
    border: 0;
    background: none;
    background-blend-mode: overlay;
    transition: all 0.3s ease-in-out;
    position: relative;
    color: var(--dark-grey);
}


.taskButtons *:hover {
    color: var(--danger);
    transition: color 0.3s ease;
}

.taskButtons button:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--dark-grey);
    position: absolute;
    right: 0;
    top: 0;
}

