.sideBar {
    position: fixed;
    top: 60px;
    left: 0;
    background: white;
    width: 230px;
    height: 100%;
    z-index: 999;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
    padding: 0;
}

.sideBar::-webkit-scrollbar {
    display: none;
}

.sideBar.close {
    width: 60px;
    overflow-x: hidden;
    overflow-y: auto;
}

.linkContent {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}

.toggleButton {
  position: absolute;
  top: 21px;
  right: 18px;
  background: none;
  border: none;
  color: var(--dark);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  padding: 0;
  margin: 0;
}

.toggleButton svg {
    width: 24px;
    height: 24px;
}

.sideBar.close .toggleButton {
    right: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sideBar .sideMenu {
    width: 100%;
    margin-top: 36px;
    padding: 0;
    list-style: none;
}

.sideBar .sideMenu li {
    height: 48px;
    background: transparent;
    margin: 0;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sideBar .sideMenu li.active {
    background: var(--light);
    position: relative;
    border-radius: 48px 0 0 48px;
}

.sideBar .sideMenu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--light);
    z-index: -1;
}

.sideBar .sideMenu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--light);
    z-index: -1;
}

.sideBar .sideMenu li a, .sideBar .sideMenu li button {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
    text-decoration: none;
    border:none;
    cursor: pointer;
}

.sideBar .sideMenu li a:hover,.sideBar .sideMenu li button:hover {
    color: var(--success);
}

.sideBar .sideMenu li.active a, .sideBar .sideMenu li.active button {
    color: var(--success);
}

.sideBar.close .sideMenu li a, .sideBar.close .sideMenu li button {
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sideBar .sideMenu li a svg, .sideBar .sideMenu li button svg {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}


@media (max-width: 768px) {
  .sideBar {
    width: 60px;
  }

  .sideBar.close {
    width: 60px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.topSection {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
