.userTabContainer {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
    color: var(--dark);
   
}

.userTabContainer .bigContaner {
    width: calc(100% - 40px);
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 20px;
    gap: 20px;
}

.userTabContainer .userRight .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.userTabContainer .userRight .header .userName {
    color: var(--primary);
}

.userTabContainer .userRight .header button {
    display: inline-block;
    margin:5px;
    padding: 5px;
    background-color: inherit;
    background-color: inherit;
    color: var(--dark);
}

.userTabContainer .userRight .header button:hover {
    color: var(--danger);
    background-color: var(--light-danger);
    border-color: var(--danger);
}

.userTabContainer .userRight .emailContainer {
    margin: 20px 0;
}

.userTabContainer .userRight input {
    margin: 10px 0;
    font-size: inherit;
    width: 50%;
    min-width: 150px;
    color: var(--dark);
    background-color: var(--light);
    border-radius: 20px;
    border: 1px solid var(--dark);
    padding: 2px;
    text-align:center;
}

.userTabContainer .userRight .emailContainer input:focus {
    outline: none;
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 5px 4px rgba(234, 61, 64, 0.2);
}

.userTabContainer .userLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userTabContainer .userLeft img {
    display: block;
    object-fit: contain;
    max-width: 150px;

}

.userTabContainer.close {
    width: calc(100% - 60px);
    left: 60px;
    height: fit-content;
}

.inputRow {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.inputRow h4 {
    margin: 0;
    white-space: nowrap;
}
