/* box shadow copied from https://getcssscan.com/css-box-shadow-examples */

/* calculations for dynamic font size: https://medium.com/@bogdanfromkyiv/dynamic-font-size-using-only-css3-757ea901d0fe */

/* Nice article about overflow clip: https://kilianvalkhof.com/2022/css-html/do-you-know-about-overflow-clip/ */

.galleryContainer {
    background: #7f7f7f;
    margin: 0;
    padding: 0;
}

.galleryContainer h1 {
    text-transform: uppercase;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
    padding: 20px 0 0 0;
    margin: 0;
    font-family: "Impact", sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2.5vw, 4rem);
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.galleryContainer h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -14px;
    background-color: var(--primary);
}

  .galleryContainer h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    bottom: 17px;
    margin-left: -50px;
    background-color: var(--primary);
}


.bigPictureContainer {
    display: flex;
    position: relative;
    justify-content: space-between;
    border: 1px solid black;
    width: 100%;
    min-height: fit-content;
    overflow: clip;
    overflow-clip-margin: 50px;
    background: #798080;
    border-radius: 20px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.description {
    position: absolute;
    padding: 20px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    background-color: rgb(255, 240, 240);
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s ease, width 0.3s ease;;
    height: 0;
    width: 0;
    top: 0;
}

.description.show {
    opacity: 1;
    right: 5%;
    max-width: 50%;
    width: auto;
    height: 100%;
    transition: opacity 0.3s ease, width 0.3s ease;
    box-shadow: rgba(214, 3, 3, 0.3) 0px 0px 0px 3px;
    border-radius: 0 30px 30px 0;
    overflow-y: auto;
}

/* text styling takrn from https://tympanus.net/codrops/2012/11/02/heading-set-styling-with-css/ */
.description h2 {
    margin: 20px 0 20px 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: clamp(1.5rem, 2.5vw, 2rem);
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

.description h3 {
    margin: 5px 0 5px 0;
	color: #343434;
	font-weight: normal;
	font-size: clamp(1.2rem, 2vw, 1.6rem);
	line-height: 40px;
	font-family: 'Orienta', sans-serif;
    text-decoration: underline;
}

.description p {
    margin-top: 15px;
	color: #343434;
	font-size: clamp(1rem, 1.8vw, 1.2rem);
	line-height: 2em;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Orienta', sans-serif;
	letter-spacing: 1px;
	font-style: italic;
    background: #f4d8d8ad;
    padding: 10px;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 70%;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 25px 0;
}

/* Darken background copy from https://stackoverflow.com/questions/17481660/darken-background-image-on-hover */

.imgContainer > img {
    position: relative;
    object-fit: cover;
    width: 33.333333%;
    aspect-ratio: 2 / 3;
    cursor: pointer;
    -webkit-filter: brightness(100%);
    transition: all 1s ease;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 4.2px 8.3px 8.3px hsl(0deg 0% 0% / 0.37);
}

.imgContainer > img:hover, .imgContainer > img.currImgWithDes:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.imgContainer > img.currImgWithDes {
    -webkit-filter: brightness(100%);
    cursor: pointer;
    transform: scale(1.1) translateX(-65%);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.imgContainer img:nth-child(2){
    z-index: 3;
}

.imgContainer img:first-child {
    z-index: 2;
    left: 10%;
    opacity: 0.25;
}

.imgContainer img:last-child {
    z-index: 2;
    right: 10%;
    opacity: 0.25;
}

.button {
    width: 60px;
    height: 60px;
    z-index: 999;
    background: transparent;
    border: 1px solid var(--primary);
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.bigPictureContainer .description + .button{
    right: 0;
}

.button:hover {
    transition: 1s ease-in-out;
    background: var(--primary);
}

.button span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}
      

/* design from https://getcssscan.com/css-buttons-examples */

.closeButton {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    align-items: center;
    background-image: linear-gradient(144deg,var(--primary), var(--light-primary),#a09797bb);
    border: 0;
    border-radius: 50%;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.closeButton:hover {
  outline: 0;
  background-image: linear-gradient(144deg,#a09797bb, var(--light-primary), var(--primary));
}


/* this part is me trying to do responsive design :( */
.mobile .imgContainer img:first-child,
.mobile .imgContainer img:last-child{
    display: none;
}

.mobile .imgContainer {
    margin: 0;
    padding: 10px;
    width: auto;
}

.mobile .imgContainer img, .mobile .currImgWithDes {
    transform: none;
    width: 100%;
    width: 100%;
}

.mobile .description{
    z-index: -1;
    opacity: 0;
    width: 100vw;
    height: 100%;
    margin: 0; 
    background: rgba(0, 0, 0, 0.5);
    padding: 20px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(0); 
}

.mobile .description.show {
    opacity: 1;
    max-width: 100%;
    z-index: 6;
}

.mobile .description h2, 
.mobile .description h3,
.mobile .description p {
    color: white;
    text-shadow: none;
}

.mobile .description p {
    background: rgba(100, 99, 99, 0.192);
}