@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary: #d90429;
  --light-primary:#ff313167;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a:-webkit-any-link {
  color: #363949;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
